.tableBtnDiv{
margin-top: 1rem;
margin-bottom: 1rem;

 display: flex;
 justify-content:left;
/* border: 1px solid red; */
width: 100%;
/* border: 1px solid red; */
}

.tableBtn{
    padding: .5rem 1.5rem ;
    background-color: #1565c0 ;
    color: white;
    margin-inline-end: 4rem;
}

.tableBtn:hover{
    color: #1565c0 ;
    background-color: transparent;
    /* padding: .5rem 1rem ; */
    
}

.modalDiv{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center ; */
    /* border: 1px solid red; */
    /* text-align: center; */
}

.modal-content {
  width: 70%;
  /* text-align: left; */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 10rem; */
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  /* Style for the modal content */
  .modal-content2 {
    width: 70%;
  text-align: left;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    height: 40vh;
    
  }
  

  .knockerList{
    width: 50%;
    display: flex;
    /* justify-content: right ; */
    text-align: left;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-radius: 5%;
    margin: 1rem
    
  }

  .map-and-assign-area{
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
  }

  .map-display{
    /* border: 2px solid green; */
    width:70%;
    margin-right: 5%;
    text-align: center;
  }

  .assign-area{
    /* border: 1px solid blue; */
    width:25%
  }

  .AssignAreaModal{
    width: 100%;
    border: 1px solid red;
    position: relative;
    top:50%;
    left: 50%;
  }

  .AssignAreaInner{
    background-color: white;
  }