.tableBtnDiv{
margin-top: 1rem;
margin-bottom: 1rem;

 display: flex;
 justify-content:left;
/* border: 1px solid red; */
width: 100%;
/* border: 1px solid red; */
}

.tableBtn{
    padding: .5rem 1rem ;
    background-color: #1565c0 ;
    color: white;
    margin-inline-end: 4rem;
}

.tableBtn:hover{
    color: #1565c0 ;
    background-color: transparent;
    /* padding: .5rem 1rem ; */
    
}