.map-container{
    width: 100%;
    height: 45rem
}
/* .modal{
  /* color: white; */
  /* border-radius: 2rem; */
  
/* }  */

 .container {
    display: flex;
    width: 100%;
    height:70vh;
    margin-bottom: 3rem;
   } 
  
   .dropdown {
    position: absolute;
    top: 15%;
    left: 25%;
    align-self: center;
    /* border: 1px solid red; */
    width: 50%;
    flex: 1;
    padding: 20px;
    margin-top: 2rem;
     text-align: center; 
    min-height: 60%;
    background-color: white;
  } 


.inner-dropdownDiv{
    /* border:1px solid green; */
    width: 100%;
  } 

  .closeBtn{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    background-color: white;
    min-height: 50vh;
    border-radius: 1rem;
  } 
  
  .map {
border: 1px solid green;
    width: 100%;
    
    flex: 2;
  } 

  .viewAreaListDiv {
    margin-bottom: 3rem;
    /* border:1px solid red; */
    display: flex;
    align-items: space-between;
    width: 100%; 
  }


.gotoDashboard {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #1565c0;
  /* border-style: none; */
  color: white;
  cursor: pointer;
  /* margin-left: 1rem; */
  /* border-radius: .5rem; */
  margin-bottom: 1rem;
}
  

.headingDiv{
  margin-left: .25rem;
  width: 80%;
  /* border: 1px solid red; */
  text-align: left;
}

.saveBtnDiv{
  width: 100%;
  /* border: 1px solid blue; */
  text-align: right;
  margin-left: 1.75rem;
 

}