.container{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

}

.AssignAreaDiv{
    /* display: flex; */
    text-align: center;
    width: 55%;
    /* border: 1px solid red; */
    background-color: white;
    /* position: relative; */
    border-radius: .5rem;
}

.SubDiv{
    /* margin-top: 5rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}

.heading{
    color: #1565c0;
    font-size: 2rem;
    /* margin: 1rem; */
}

.select{
    white-space:nowrap;
    overflow: scroll;
    font-size: medium;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: #1565c0;
    color: white;
    /* margin-right: 1rem; */
    border-style: none;
}


.options{
    background-color: #296dbb;
    color: white;
}